html {
  min-height: 100%;
  position: relative;
}
body {
	margin: 0;
	font-family: Charter;
	font-size: 18px;
	margin-bottom: 75px;
}
a {
	color: inherit;
}
a:hover {
	color: #650075;
	text-decoration: none;
}
#header {	
	/*background: linear-gradient(180deg, #fffc00, #ffffff);	*/
	/*height: 150px;*/
	/*border-bottom: solid 1px lightgrey;*/
	width: 100%;
	text-align: center;
	background: #fffc00;
	height: 100px;
}
#header div[name="header-row"] {
    align-items: center;
}
#header-title span[name="title"] {
	font-size: 45px;
}
#header-title span[name="author"] {
	color: red;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    display: block;
}
#header-nav {
	font-size: 24px;
}
#header-nav ul[name="navbar-items"] {
	margin-left: auto;
}
#blog-dropdown div[name="dropdown-block"] {
	margin-top: -5px;
}
#content-wrapper {
	float: left;
	width: 70%;
}
#sidebar-right-wrapper {
	float: left;
	width: 30%;
}
#footer {
    position: absolute;
    bottom: 0;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	clear: both;
	width: 100%;
	text-align: center;
	/*height: 100px;*/
	/*background: linear-gradient(0deg, #fffc00, #ffffff);*/
	/*border-top: solid 1px lightgrey;*/
	background: #fffc00;
	height: 75px;
}
#content, #sidebar-right {
	padding: 15px;
}
.single-post {
	margin-top: 30px;
	padding-top: 30px;
	border-top: solid 1px lightgrey;
	clear: both;
}
.post-title a:hover {
	color: #ece018;	
}
.post-details {
	color: #aaa;
	margin-top: 20px;
}
.post-category a:hover {
	color: #38951D;
	color: #c1ba42;
}
.post-date {
	float: right;
}