body {
	margin: 0;
	font-family: Charter;
}
a {
	color: black;
}
a:hover {
	color: #650075;
	text-decoration: none;
}
#header {	
	/*background: linear-gradient(180deg, #fffc00, #ffffff);	*/
	/*height: 150px;*/
	width: 100%;
	text-align: center;
	background: #fffc00;
	height: 100px;
}
#header div[name="header-row"] {
    align-items: center;
}
#header-title span[name="title"] {
	font-size: 45px;
}
#header-title span[name="author"] {
	color: red;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    display: block;
}
#header-nav {
	font-size: 24px;
}
#header-nav ul[name="navbar-items"] {
	margin-left: auto;
}
#content-wrapper {
	float: left;
	width: 70%;
}
#sidebar-right-wrapper {
	float: left;
	width: 30%;
}
#footer {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	clear: both;
	width: 100%;
	text-align: center;
	/*height: 100px;*/
	/*background: linear-gradient(0deg, #fffc00, #ffffff);*/
	background: #fffc00;
	height: 75px;
}
#content, #sidebar-right {
	min-height: 600px;
	padding: 15px;
}